@media (min-width: 1200px) {
  .consultation {
    margin: 0 auto;
    height: 664px;
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .consultation__wrp-1 {
      margin: 88px 0 0;
      height: 450px;
      width: 500px;

      .consultation__wrp-1-h3 {
        @include acrom-extrabold-black;
        font-size: 48px;
        letter-spacing: -1px;
        line-height: 48px;
      }
    }

    .consultation__wrp-2 {
      margin: 145px 0 0;
      height: 450px;
      width: 420px;
      padding: 0;

      .consultation__wrp-2-ul-li {
        padding-top: 40px;
        @include acrom-regular-black;
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
}
