@media (min-width: 1200px) {
  .rewards {
    width: 1140px;
  }

  .reward-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .rewards-description {
    width: 700px;
    margin: 30px 0;
  }

  .rewards-container {
    width: 1170px;
  }

  .rewards-social__title {
    margin-top: 20px;
  }

  .rewards-subtitle {
    width: 570px;
    @include acrom-regular-black;
    font-size: 48px;
    padding-bottom: 15px;
    text-align: left;
    line-height: 1.25;
  }

  .rewards-name--social {
    margin-bottom: 20px;
  }

  .rewards-social {
    order: 0;
    width: 390px;
  }
  .rewards-partners {
    order: 1;
    width: 668px;
    margin: 0;
    margin-left: 80px;
  }
  .rewards {
    order: 2;
    width: 1170px;
  }

  .rewards-card {
    position: relative;
    display: flex;
    width: 390px;
    box-shadow: none;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    align-items: flex-start;

    &__number {
      transform: rotate(270deg);
      @include acrom-regular-white;
      font-size: 30px;
    }

    &::before {
      display: none;
    }
  }
  .rewards-name--cards {
    margin-left: 10px;
  }
}
