.container-fluid-our_rewards {
  margin: 0 auto;
  min-width: 300px;
  height: 2400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.our_rewards {
  margin: 0 auto;
  height: 2100px;
  width: 260px;
  display: flex;
  flex-direction: column;

  .our_rewards-header {
    margin: 0 auto;
    width: 260px;

    &__h2 {
      @include acrom-extrabold-black;
      font-size: 20px;
      letter-spacing: -1px;
      line-height: 26px;
      text-align: left;
      padding: 35px 60px 0 0;
      display: block;
    }

    &__h3 {
      @include acrom-extrabold-black;
      font-size: 20px;
      letter-spacing: -1px;
      line-height: 26px;
      text-align: left;
      padding: 40px 65px 40px 0;
    }
  }

  .our_rewards-body {
    margin: 0 auto;
    width: 260px;
    height: 1970px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__box-1 {
      width: 260px;
      height: 420px;
      display: flex;
      margin-bottom: 50px;
      flex-direction: column;
      box-shadow: -20px 20px 0 0 rgba(216, 219, 211, 0.23);

      .our_rewards-body__box-1-header-p1::before {
        content: '';
        background-color: #00eaff;
        width: 60px;
        height: 2px;
        display: block;
        margin: 12px -33px;
      }

      .our_rewards-body__box-1-header-p1 {
        margin: 0 auto;
        width: 120px;
        height: 80px;
        @include acrom-extrabold-black;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 25px;
        margin: 5px 0 0 20px;
      }

      .our_rewards-body__box-1-header-p2 {
        margin: 54px 0 10px 20px;
        width: 180px;
        height: 80px;
        @include acrom-regular-black;
        font-size: 14px;
        line-height: 18px;
        padding-right: 5px;
      }

      .our_rewards-body__box-3-header-img {
        margin: 0 auto;
        display: inline-block;
        height: 80px;
      }
    }

    &__box-1::after {
      content: '';
      background-image: url('../images/01-gray-320.png');
      width: 67px;
      height: 33px;
      display: block;
      margin: -344px 192px;
    }

    &__box-2 {
      width: 260px;
      height: 470px;
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      box-shadow: -20px 20px 0 0 rgba(216, 219, 211, 0.23);

      .our_rewards-body__box-2-header-p1::before {
        content: '';
        background-color: #00eaff;
        width: 60px;
        height: 2px;
        display: block;
        margin: 12px -33px;
      }

      .our_rewards-body__box-2-header-p1 {
        margin: 0 auto;
        width: 120px;
        height: 80px;
        @include acrom-extrabold-black;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 25px;
        margin: 5px 0 0 20px;
      }

      .our_rewards-body__box-2-header-p2 {
        margin: 40px 0 9px 20px;
        width: 205px;
        height: 80px;
        @include acrom-regular-black;
        font-size: 14px;
        line-height: 18px;
        padding-right: 5px;
      }

      .our_rewards__box-2-header-img {
        margin: 0 auto;
        display: block;
        height: 80px;
        display: block;
      }
    }

    &__box-2::after {
      content: '';
      background-image: url('../images/02-gray-320.png');
      width: 80px;
      height: 35px;
      display: block;
      margin: -330px 180px;
    }

    &__box-3 {
      width: 260px;
      height: 470px;
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      box-shadow: -20px 20px 0 0 rgba(216, 219, 211, 0.23);

      .our_rewards-body__box-3-header-p1::before {
        content: '';
        background-color: #00eaff;
        width: 60px;
        height: 2px;
        display: block;
        margin: 12px -33px;
      }

      .our_rewards-body__box-3-header-p1 {
        margin: 0 auto;
        width: 120px;
        height: 80px;
        @include acrom-extrabold-black;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 25px;
        margin: 5px 0 20px 20px;
      }

      .our_rewards-body__box-3-header-p2 {
        margin: 40px 0 -53px 20px;
        width: 200px;
        height: 130px;
        @include acrom-regular-black;
        font-size: 14px;
        line-height: 18px;
        padding-right: 5px;
      }

      .our_rewards-body__box-3-header-img {
        margin: 0 auto;
        display: block;
        height: 80px;
        display: block;
      }
    }

    &__box-3::after {
      content: '';
      background-image: url('../images/03-gray-320.png');
      width: 80px;
      height: 35px;
      display: block;
      margin: -330px 180px;
    }

    &__tender {
      margin: 0 auto;
      width: 260px;
      height: 350px;

      .our_rewards-tender__img {
        position: absolute;
      }

      .oon {
        position: relative;
        z-index: -5;
        display: block;
        left: 38%;
      }

      .our_rewards-body__tender-header-p1 {
        margin: 0 auto;
        width: 93px;
        height: 20px;
        background-color: rgb(237, 240, 242);
        @include acrom-extrabold-black;
        font-size: 16px;
        line-height: 1.313;
        margin: 10px 0 0 20px;
      }

      .our_rewards-body__tender-header-p2 {
        margin: 25px 0 10px 20px;
        width: 225px;
        height: 80px;
        @include acrom-extrabold-black;
        font-size: 24px;
        line-height: 1.25;
        text-transform: uppercase;
      }

      .our_rewards-body__tender-header-p3 {
        margin: 15px 0 10px 20px;
        width: 218px;
        height: 181px;
        @include acrom-regular-gray_2;
        font-size: 14px;
        line-height: 1.25;
      }
    }

    .our_rewards-body__partners {
      margin: 0 auto;
      width: 260px;
      height: 490px;

      .our_rewards-body__partners-header-p1 {
        margin: 0 auto;
        width: 120px;
        height: 30px;
        @include acrom-extrabold-black;
        font-size: 16px;
        line-height: 1.313;
        margin: 5px 0 0 20px;
      }

      .our_rewards-body__partners-ul {
        width: 260px;
        height: 600px;

        .our_rewards-body__partners-list li {
          padding: 0.5125rem;
        }

        
        .our_rewards-body__partners-list {
          list-style: none;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
        }

        .epam {
          display: block;
          width: 59px;
          height: 21px;
          background: url('../images/epam.jpg');
        }

        .kuehne-nagel {
          display: block;
          width: 72px;
          height: 38px;
          background: url('../images/kuehne-nagel.jpg');
        }

        .crytek {
          display: block;
          width: 78px;
          height: 29px;
          background: url('../images/crytek.jpg');
        }

        .ciklum {
          display: block;
          width: 138px;
          height: 27px;
          background: url('../images/ciklum.jpg');
        }

        .inovecs {
          display: block;
          width: 88px;
          height: 17px;
          background: url('../images/inovecs.jpg');
        }

        .softserve {
          display: block;
          width: 117px;
          height: 20px;
          background: url('../images/softserve.jpg');
        }

        .global-logic {
          display: block;
          width: 108px;
          height: 20px;
          background: url('../images/global-logic.jpg');
        }

        .alfa-bank {
          display: block;
          width: 109px;
          height: 29px;
          background: url('../images/alfa-bank.jpg');
        }

        .go-iteens {
          display: block;
          width: 92px;
          height: 23px;
          background: url('../images/go-iteens.jpg');
        }

        .infopulse {
          display: block;
          width: 76px;
          height: 19px;
          background: url('../images/infopulse.jpg');
        }

        .ubisift {
          display: block;
          width: 40px;
          height: 25px;
          background: url('../images/ubisift.jpg');
        }

        .luxoft {
          display: block;
          width: 73px;
          height: 37px;
          background: url('../images/luxoft.jpg');
        }

        .lenal {
          display: block;
          width: 76px;
          height: 21px;
          background: url('../images/lenal.jpg');
        }

        .terrasoft {
          display: block;
          width: 46px;
          height: 16px;
          background: url('../images/terrasoft.jpg');
        }

        .grossum {
          display: block;
          width: 88px;
          height: 24px;
          background: url('../images/grossum.jpg');
        }

        .template-monster {
          display: block;
          width: 134px;
          height: 22px;
          background: url('../images/template-monster.jpg');
        }
      }
    }
  }
}
