/* fonts */
$acrom-regular: "Acrom Regular", sans-serif;
$acrome-extrabold: "Acrom ExtraBold", sans-serif;
$acrome-bold: "Acrom Bold", sans-serif;
$acrome-light: "Acrom Light", sans-serif;
$acrome-medium: "Acrom Medium", sans-serif;
// /* colors */
// $white: #fff;
// $dark-white: #e7e7e7;
// $transparent: rgba(255, 255, 255, 0.9);
// $dark-yellow: #ffc800;
// $yellow: #fce38a;
// $tr-yellow: rgba(252, 227, 138, .6);
// $gray: #333333;
// $gray-1: rgb(51, 51, 51);
// $light-gray: rgb(153, 153, 153);
// $light-gray2: #b4b4b4;
// $rose: #f38181;
// $light-rose: #f9c0c0;
// $turquoise: #95e1d3;

// /* colors for effect */
// $gradient-1: -webkit-gradient(
//   linear,
//   left top, left bottom,
//   from(rgba(238, 139, 137, 0.9)),
//   to(rgba(238, 214, 136, 0.9))
//   );

// $gradient-2: linear-gradient(
//   180deg,
//   rgba(238, 139, 137, 0.9),
//   rgba(238, 214, 136, 0.9)
//   );

// $box-shadow: 10px 10px 0 rgba(149, 225, 211, 0.9);